* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
main {
  position: absolute;
  top: 50px;
  left: 50px;
  border: solid 5px black;
}
main::before {
  content: "SALE";
  width: 70px;
  height: 25px;
  color: white;
  background-color: red;
  position: absolute;
  top: -20px;
  left: -30px;
  padding: 5px 2px;
  text-align: center;
  line-height: 25px;
  letter-spacing: 2px;
}
.product__card {
  padding: 10px 20px;
}
.product--name {
  text-align: center;
  text-transform: capitalize;
}
.product-img {
  width: 200px;
  height: 200px;
}
.product--price--and--shipping {
  display: block;
  height: 32px;
  margin-bottom: 20px;
}
.product--price {
  font-weight: bold;
  font-size: 28px;
  width: fit-content;
}
.product--shipping--uppercase {
  color: gray;
  text-transform: uppercase;
  font-weight: bold;
  width: 300px;
  width: fit-content;
  line-height: 32px;
  font-size: 13px;
}
.product--describe {
  text-transform: capitalize;
}
.product--moreinfo {
  color: black;
  text-transform: uppercase;
  margin-top: 20px;
  display: inline-block;
}
.pallete__color--inline {
  margin-bottom: 10px;
  margin-top: 20px;
}
.color {
  width: 25px;
  height: 25px;
  display: inline-block;
  cursor: pointer;
}
.black {
  background-color: black;
}
.blue {
  background-color: blue;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.brown {
  background-color: brown;
}
.product__list--heading {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
/* .product__detail--list {
  line-height: 1.7;
  } */
.product__detail--list li {
  margin-left: 10px;
}
.button__addto--strech {
  color: white;
  background-color: black;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  text-transform: capitalize;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  width: 100%;
}
/*FLOAT*/
/*
.division {
  margin-left: 10px;
  margin-top: 20px;
  width: 250px;
}
.product__card--info--left {
  float: left;
}

.product__card--info--middle {
  float: left;
}

.product--price {
  float: left;
}
.product--shipping--uppercase {
  float: right;
}

.product--describe--and--pallete {
  float: left;
}

.product__card--info--right {
  float: right;
}
  */
/*FLEX*/
.section__card {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
main {
  width: 800px;
  height: fit-content;
}
.product--price--and--shipping {
  display: flex;
  justify-content: space-between;
}
